<script type='text/javascript'>
$(function() {
    Dashing.gridsterLayout('[{"col":1,"row":2,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":1,"row":1,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1}]')
    });
</script>

<% content_for :title do %>Swimgen Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cpu_usage" data-view="Meter" data-title="CPU" data-min="0" data-max="100" style='#47bbb3'></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="memory_usage" data-view="Meter" data-title="MEM" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="disk_usage" data-view="Meter" data-title="SSD" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="daily_revenue" data-view="Number" data-title="Daily Revenue" data-prefix="$"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="quarterly_revenue" data-view="Number" data-title="Quarterly Revenue" data-prefix="$"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="annual_revenue" data-view="Number" data-title="Annual Revenue" data-prefix="$"></div>
    </li>
  </ul>
</div>
